$maxWidthLayout: 1440;
$maxWidthContainer: 1200;
$montFont: 'MontserratAlternates', sans-serif;
$grayColor: #9c9c9c;
$blueColor: #3d96f4;
$yelloColor: #ffcc00;
$terraFls: #794f45;
$purpleFls: #77608d;
$greenFls: #7a956b;
